@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.homebutton img {
    width: 100px;
    height: auto;
}

.logo {
    display: flex;
    justify-content: center; 
    padding-top: 20px;
}

body {
    background-image: url(../afbeeldingen/achtergornd12.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 375px;
    min-height: 667px;
    font-family: "Staatliches", serif;
    font-weight: 200;
    font-style: normal;
}

.home {
text-align: center;
}

.home h2 {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
}

.home p {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
    width: 290px;
}

.home nav a {
    display: inline-block;
    background-color: #337437e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
}

.img1 {
    display: inline-block;
    background-color: #172e03;
    padding: 17px 17px;
    width: 270px;
    height: auto;
    border-radius: 30px;
}

.buttononder {
    padding-bottom: 30px;
}

.restaurant {
    text-align: center;
}

.restaurant h1 {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 5px;
}

.restaurant p {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
    width: 290px;
}

.img2 {
    display: inline-block;
    background-color: #172e03;
    padding: 17px 17px;
    width: 270px;
    height: auto;
    border-radius: 30px;
}

.moestuin {
    text-align: center;
}

.moestuin h1 {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 13px;
}

.moestuin p {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
    width: 290px;
}

.img3 {
    display: inline-block;
    background-color: #172e03;
    padding: 17px 17px;
    width: 280px;
    height: auto;
    border-radius: 30px;
}

.groeioogstkook {
    text-align: center;
}

.groeioogstkook h1 {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 13px;
}

.groeioogstkook h2 {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 13px;
}

.groeioogstkook p {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
    width: 290px;
}

.groeioogstkook h3 {
    display: inline-block;
    background-color: #337437c9;
    color: ghostwhite;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 13px;
}

.groeioogstkook ol {
    display: inline-block;
    background-color: #172e03c7;
    color: ghostwhite;
    padding: 20px 20px;
    border-radius: 15px;
    width: 270px;
    list-style-type: decimal;
}

.groeioogstkook ul {
    display: inline-block;
    background-color: #333734e0;
    color: ghostwhite;
    padding: 20px 20px;
    border-radius: 15px;
    width: 270px;
    text-align: left; 
}

.img4 {
    display: inline-block;
    background-color: #172e03;
    padding: 17px 17px;
    width: 280px;
    height: auto;
    border-radius: 30px;
    margin: 13px;
}

